*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#corpo{
    width: 100%;
    height:100%;
    background-image: linear-gradient(to bottom,rgba(218, 113, 102, 0.9), rgba(0, 0, 0, 1.0));
    background-size: auto 1000px;
}

.divisoria{
    margin: 5% 0 0 1.5%;
    width: 90%;
    height: 80%;
    display: inline-block;
    text-align: center;
}

.ponto1{
    width: 10px;
    height: 10px;
    margin-left: 20px;
    background: white;
    border-radius: 100%;
    display: inline-block;
    border: 1px solid white;
}


.ponto{
    width: 10px;
    height: 10px;
    margin-left: 20px;
    background: white;
    border-radius: 100%;
    display: inline-block;
     
}

.linha{
    border: 1px solid white;
    width: 70px;
    display: inline-block;
    margin: 4px 0 4px 20px;

}

.bloco-form{ 
    margin: 7% 10% 5% 10%;
    width: 75%;
    height: 70%;
    display: block;
    text-align: center;
}

#titulo{
    font-family: 'Arial', sans-serif;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin: 5% 12% 5% 7%;
}

.entrada{
    max-width: 300px;
    width: 250px;
    border-radius: 25px;
    background: rgba(161, 92, 87, 0.61);
    color: white;
    line-height: 30px;
    padding: 5px 0px 5px 7px;

    font-family: 'Arial', 'FontAwesome';
    border: none;
}

.entrada::-webkit-input-placeholder{
    color: white;
    word-spacing: 5px;
}

.form{
    margin-bottom: 20px;
    margin-right: 1.25%;
}

.form-botao{
    margin-top: 25%;
    text-align: center;
    margin: 5% 2% 0 0;
}

.botao{
    max-width: 480px;
    width: 300px;
    height: 50px;
    border: 1px solid white;
    color: white;
    background: transparent;
    border-radius: 25px;
    text-align: center;
}

.rodape{
    margin: 7% 12% 2.5% 5%; 
    color: rgba(255, 251, 251, 0.466);
    text-align: center;

}
